<div class="wrapper poppins-regular">
  <div class="wrapper__card">
    @switch(activeFace) { @case('front') {
    <div class="wrapper__card__front">
      <div class="wrapper__card__front__avatar">
        <img src="avatar.png" alt="" />
      </div>
      <div class="wrapper__card__front__details">
        <div class="wrapper__card__front__details__name">
          Ben And Engineering
        </div>
        <div class="wrapper__card__front__details__youtube">
          &#64;benandengineering
        </div>
      </div>
    </div>

    } @case ('back') {
    <div class="wrapper__card__back">
      @switch(selectedBackContent.value) { @case('basic') {

      <div class="wrapper__card__back__basic">
        <div class="wrapper__card__back__motto">
          <span class="wrapper__card__back__motto__label">motto</span>
          <div class="wrapper__card__back__motto__divider"></div>
          <div class="wrapper__card__back__motto__value">
            You stop growing when you stop learning!
          </div>
        </div>
      </div>

      } @case('advanced') {

      <div class="wrapper__card__back__advanced">
        <div class="wrapper__card__back__motto">
          <span class="wrapper__card__back__motto__label">motto</span>
          <div class="wrapper__card__back__motto__divider"></div>
          <div class="wrapper__card__back__motto__value">
            You stop growing when you stop learning!
          </div>
        </div>
        <div class="wrapper__card__back__skills">
          <div class="wrapper__card__back__skills__skill">Python</div>
          <div class="wrapper__card__back__skills__skill">Django</div>
          <div class="wrapper__card__back__skills__skill">Angular</div>
          <div class="wrapper__card__back__skills__skill">React</div>
        </div>
      </div>
      } @case('premium') {

      <div class="wrapper__card__back__premium">
        <div class="wrapper__card__back__motto">
          <span class="wrapper__card__back__motto__label">motto</span>
          <div class="wrapper__card__back__motto__divider"></div>
          <div class="wrapper__card__back__motto__value">
            You stop growing when you stop learning!
          </div>
        </div>
        <div class="wrapper__card__back__skills">
          <div class="wrapper__card__back__skills__skill">Python</div>
          <div class="wrapper__card__back__skills__skill">Django</div>
          <div class="wrapper__card__back__skills__skill">Angular</div>
          <div class="wrapper__card__back__skills__skill">React</div>
          <div class="wrapper__card__back__skills__skill">React Native</div>
        </div>
        <div class="wrapper__card__back__socials">
          <div>Github</div>
          <div>Twitter</div>
          <div>Instagram</div>
        </div>
      </div>

      } @default {
      <div class="wrapper__card__back__not-selected">
        You have not selected the back face of your card!
      </div>
      } }
    </div>
    } }
  </div>

  <div class="wrapper__action-buttons">
    @switch(activeFace) { @case('front') {
    <div
      (click)="onCardFaceChange('back')"
      class="wrapper__action-buttons__show-back"
    >
      show back
    </div>
    } @case('back') {
    <div
      (click)="onCardFaceChange('front')"
      class="wrapper__action-buttons__show-front"
    >
      show front
    </div>
    }
    <div class="wrapper__action-buttons__select-content">
      <select
        [formControl]="selectedBackContent"
        placeholder="Select back content"
      >
        <option [value]="'reset'">Reset</option>
        <option [value]="'basic'">Basic</option>
        <option [value]="'advanced'">Advanced</option>
        <option [value]="'premium'">Premium</option>
      </select>
    </div>
    }
  </div>
</div>
